.xwp-block-todo-list__task-input-form {
	display: flex;
	height: 45px;
	width: 100%;
	margin: 20px 0;
}

.xwp-block-todo-list__task-input-field {
	width: 85%;
	height: 100%;
	border: 1px solid #ccc;
	font-size: 17px;
	border-radius: 3px;
	padding-left: 15px;
}

.xwp-block-todo-list__task-submit-button {
	height: 100%;
	border: none;
	border-radius: 3px;
	outline: none;
	background: #1572a1;
	color: #fff;
	cursor: pointer;
	margin-left: 0.625em;
	word-break: normal;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

.xwp-block-todo-list__task-input-form-wrapper {
	list-style: none;
	height: 45px;
	line-height: 45px;
	position: relative;
	margin-bottom: 8px;
	border-radius: 3px;
	padding-left: 15px;
	cursor: default;
	overflow: hidden;
}

.xwp-block-todo-list__task {
	list-style: none;
	height: 45px;
	line-height: 45px;
	position: relative;
	background: #f6f6f6;
	margin-bottom: 8px;
	border-radius: 3px;
	padding: 0 15px;
	cursor: default;
	overflow: hidden;

	&:hover .xwp-block-todo-list__task-controls {
		right: 0;
	}
}

.xwp-block-todo-list__task div {
	display: inline-block;
	width: calc(100% - 45px);
}

.xwp-block-todo-list__task-controls {
	display: inline-block;
	position: absolute;
	right: -45px;
	width: 45px;
	height: 100%;
	color: #fff;
	text-align: center;
	background: #e74c3c;
	border: 1px solid transparent;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	transition: all 0.3s ease;

	span {
		margin: auto;
		height: 100%;
		fill: #fff;
	}
}
