.xwp-block-todo-list__task {
	list-style: none;
	height: 45px;
	line-height: 45px;
	position: relative;
	background: #f6f6f6;
	margin-bottom: 8px;
	border-radius: 3px;
	padding: 0 15px;
	cursor: default;
	overflow: hidden;
}

.xwp-block-todo-list__task-completed {
	text-decoration: line-through;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
