.xwp-block-todo-list {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.xwp-block-todo-list__tasks {
	max-height: 250px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.xwp-block-todo-list__tasks::-webkit-scrollbar {
	width: 0;
}

.xwp-block-todo-list__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
