/**
 * Block type frontend style definition.
 * It will be enqueued both in the editor and when viewing the content on the front of the site.
 */

.xwp-block-todo-list {
	margin: 1rem auto;
	width: 100%;
	border-radius: 4px;
	background: #fff;
	padding: 25px;
}

.xwp-block-todo-list__tasks {
	max-height: 250px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.xwp-block-todo-list__tasks::-webkit-scrollbar {
	width: 0;
}

.xwp-block-todo-list__footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	align-items: center;
}
